table{
  thead{
    background-color: #e3f2fd;
  }
}
.totalparkiglotsboxbg {
  background-color: #cad8e2
}
.totalpermitsboxbg {
  background-color: #a5c6d3
}
.totalavailableboxbg {
  background-color: #84b9c4
}
.totaoccupiedboxbg {
  background-color: #66b2b5
}
