<div class="container">
    <div class="card" style="border: none;">
      <h4 class="card-header text-center font-weight-bold text-uppercase py-2">Add New Location</h4>
      <div class="card">
        <div class="card-body">
          <form #location = "ngForm" (ngSubmit)="addLocation(location.value)" class="form-horizontal">
            <div class="form-group row">
              <label class="col-2">Name</label>
              <input type="text" class="form-control col-8" style="height: 30px" name="parkingName" ngModel/>
            </div>
            <div class="form-group row">
              <label class="col-2">Address</label>
              <input type="text" class="form-control col-8" style="height: 30px" name="address" ngModel/>
            </div>
            <div class="form-group row">
              <label class="col-2">No of Lots</label>
              <input type="text" class="form-control col-8"  style="height: 30px" name="lots" ngModel/>
            </div>
            <div class="form-group row">
              <label class="col-2">Parking Voilation Charges</label>
              <input type="text" class="form-control col-8" style="height: 30px" name="fineAmount" ngModel/>
            </div>
            <!--<div class="form-group row">-->
              <!--<label class="col-2">Coordinates</label>-->
              <!--<label class="col-8">{{coordinates}}</label>-->
            <!--</div>-->
            <div class="form-group row">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-success">Save Location</button>
              </div>
            </div>
          </form>
      </div>
  </div>
      <agm-map [zoom]="15" [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)" >
      </agm-map>
    </div>
</div>
