<app-navbar></app-navbar>

<div class="mt-5">

  <div class="col-1"></div>

  <div class="col-offset-5 col-10">
    <span><h4>Create Account</h4></span>
    <form class="">
      <div class="form-group col-6">
         <label for="fisrtName">First Name:</label>
         <input type="text" class="form-control" id="fisrtName" placeholder="First Name">
      </div>
      <div class="form-group col-6">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
      <div class="form-group col-6">
        <label for="emailID">Email ID</label>
        <input type="email" class="form-control" id="emailID" placeholder="Email ID">
      </div>
      <div class="form-group col-6">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
      </div>
      <div class="form-row col-6">
        <div class="form-group col-4">
          <label for="city">City:</label>
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="form-group col-4">
          <label for="state">State:</label>
          <select id="state" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      <div class="form-group col-4">
        <label for="zipCode">Zip</label>
        <input type="text" class="form-control" id="zipCode" placeholder="Zip">
      </div>
    </div>
      <div class="form-group row col-6">
      <div class="form-group col-6">
        <label for="userName">User Name</label>
        <input type="email" class="form-control" id="userName" placeholder="User Name">
      </div>
      <div class="form-group col-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </div>
</div>
