<app-navbar></app-navbar>

<div class="mt-5">
  <div class="col-1"></div>
  <div class="col-offset-5 col-10">
    <form>
      <span><h4>Create permit</h4></span>
      <div class="form-group col-6">
        <label for="fisrtName">First Name:</label>
        <input type="text" class="form-control" id="fisrtName" placeholder="First Name">
      </div>
      <div class="form-group col-6">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
      <div class="form-group col-6">
        <label for="emailID">Email ID</label>
        <input type="email" class="form-control" id="emailID" placeholder="Email ID">
      </div>
      <div class="form-group col-6">
          <label for="userName">VINumber</label>
          <input type="email" class="form-control" id="userName" placeholder="User Name">
      </div>
      <div class="form-group col-6">
          <label for="password">LIP</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
      <div class="form-group col-4">
          <label for="state">Type:</label>
          <select id="state" class="form-control">
            <option selected>Choose...</option>
            <option>General Slots</option>
            <option>Special</option>
          </select>
        </div>
      <div class="form-row col-6">
          <div class="col-md-4 mb-3">
            <input class="form-check-input" type="checkbox" value="" required>
            <label class="form-check-label">
            MNL
            </label>
          </div>
          <div class="col-md-4 mb-3">
            <input class="form-check-input" type="checkbox" value="" required>
            <label class="form-check-label">
              Student Union
            </label>
          </div>
          <div class="col-md-4 mb-3">
            <input class="form-check-input" type="checkbox" value="" required>
            <label class="form-check-label">
              Student Success Center
            </label>
          </div>
        </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </div>
</div>
