<app-navbar></app-navbar>
<div class="card" style="border: none;">
  <div class="row">
    <div class="col-6">
      <div class="row ml-2">
        <table class="table">
          <thead>
          <tr class="text-center">
            <th class="text-left">Name</th>
            <th>Number of slots</th>
            <th>Occupied</th>
            <th>Available</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let locationName of locations;">
            <td class="text-left">{{locationName.parkingLotName}}</td>
            <td>{{locationName.noOfLots}}</td>
            <td>{{locationName.occupied}}</td>
            <td>{{locationName.available}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row ml-2">
        <button (click)="addLocation()" class="btn btn-success">Add New Location</button>
      </div>
    </div>
    <div class="col-6">
      <agm-map [zoom]="13" [latitude]="center.lat" [longitude]="center.lng" >
        <agm-rectangle *ngFor="let rectangle of rectanglesCoordinate" [north]="rectangle.north"
        [south]="rectangle.south"
        [east]="rectangle.east"
        [west]="rectangle.west" [fillColor]="'#FF0000'"></agm-rectangle>
    </agm-map>
    </div>
  </div>
</div>
<!--  -->
<!-- <div class="mt-5">
  <div class="col-2">

  </div>
  <div class="col-10">
    <span><h3>Locations</h3></span>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">Location Name</th>
        <th scope="col">Address</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">General Slots</th>
        <th scope="col">Special Slots</th>
        <th scope="col">Cost</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of locationDetails">
        <td>{{data.locationName}}</td>
        <td>{{data.address}}</td>
        <td>{{data.latitude}}</td>
        <td>{{data.longitude}}</td>
        <td>{{data.generalSlots}}</td>
        <td>{{data.specialSlots}}</td>
        <td>{{data.cost}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
 -->
