
  <nav class="navbar fixed-top navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse container" id="navbarToggler">
        <div class="navbar-nav">
          <a class="navbar-brand heading" href="/home">VipraPM</a>
        </div>

      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0" routerLinkActive="active" *ngIf="AccountAdmin">
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">{{AccountAdmin.dashboard}}</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/addUsers">{{AccountAdmin.addUser}}</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/addPermit">{{AccountAdmin.addPermit}}</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/viewAlltickets">{{AccountAdmin.viewTickets}}</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/addLocation">{{AccountAdmin.addLocation}}</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/listLocations">{{AccountAdmin.listLocations}}</a></li>
      </ul>
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/login">Logout</a></li>
        </ul>
    </div>
  </nav>
  <div style="margin-bottom: 9em">

  </div>

