<app-navbar></app-navbar>
<div class="mt-5">
  <div class="col-2">

  </div>
  <div class="col-10">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role</th>
        <th scope="col">Email ID</th>
        <th scope="col">User Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of users">
        <td>{{data.firstName}}</td>
        <td>{{data.lasttName}}</td>
        <td>{{data.role}}</td>
        <td>{{data.emailID}}</td>
        <td>{{data.username}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


