<app-navbar></app-navbar>
<div class="mt-5">
  <div class="col-2">

  </div>
  <div class="col-12">
    <span><h3 class="font-weight-bold text-uppercase">Tickets</h3></span>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">LPN</th>
        <th scope="col">Created Date</th>
        <th scope="col">Fine</th>
        <th scope="col">Reason</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of ticketDetails">
        <td>{{data.userName}}</td>
        <td>{{data.LPNumber}}</td>
        <td>{{data.createdDate}}</td>
        <td>{{data.fine}}</td>
        <td>{{data.reason}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


